/* line 15, ../sass/style.scss */
* { box-sizing: border-box; outline: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); -webkit-touch-callout: none; -webkit-user-select: none; user-select: none; }
/* line 26, ../sass/style.scss */
*:focus, *:active { outline: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

/* line 33, ../sass/style.scss */
.raw table { padding: 1rem; border-top: .1rem dashed #ccc; background-color: #eee; color: #666; width: 100%; }
/* line 41, ../sass/style.scss */
.raw td { vertical-align: top; }
/* line 45, ../sass/style.scss */
.raw tr td:first-of-type { font-weight: bold; }

/* line 51, ../sass/style.scss */
.page > ul { list-style-type: none; margin: 0; padding: 0; }
/* line 56, ../sass/style.scss */
.page > ul li { border-top: .1rem solid #eee; background-color: #fff; }
/* line 60, ../sass/style.scss */
.page > ul li:last-of-type { border-bottom: .1rem solid #eee; }
/* line 64, ../sass/style.scss */
.page > ul li.touched { background-color: #eee; }
/* line 68, ../sass/style.scss */
.page > ul li span { display: block; position: relative; padding: 1rem 1rem 1rem .5rem; border-left: .5rem solid transparent; }
/* line 74, ../sass/style.scss */
.page > ul li span h2 { font-size: 1rem; margin: 0; font-weight: normal; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; width: 100%; }
/* line 84, ../sass/style.scss */
.page > ul li span aside { margin-top: .5rem; font-size: .9rem; color: #999; font-style: italic; }

/* line 95, ../sass/style.scss */
.cost-bar { position: absolute; width: 100%; background-color: #a1ffbc; height: .3rem; left: -0.5rem; bottom: 0; }
/* line 103, ../sass/style.scss */
.cost-bar.overbudget { background-color: #ffa6b8; }
/* line 106, ../sass/style.scss */
.cost-bar.overbudget .cost-actual { background-color: #ff2752; }

/* line 112, ../sass/style.scss */
.cost-actual { height: .3rem; background-color: #4ae46f; position: absolute; bottom: 0; left: 0; }

/* line 120, ../sass/style.scss */
#opportunities-page ul li span { padding-bottom: 1.6rem; }

/* line 124, ../sass/style.scss */
.opp-probability { position: absolute; bottom: 0; left: -0.5rem; height: .3rem; }
/* line 130, ../sass/style.scss */
.opp-probability.high { background-color: #4ae46f; }
/* line 132, ../sass/style.scss */
.opp-probability.high > div { background-color: #4ae46f; }
/* line 136, ../sass/style.scss */
.opp-probability.medium { background-color: #ffa81f; }
/* line 138, ../sass/style.scss */
.opp-probability.medium > div { background-color: #ffa81f; }
/* line 142, ../sass/style.scss */
.opp-probability.low { background-color: #ff2752; }
/* line 144, ../sass/style.scss */
.opp-probability.low > div { background-color: #ff2752; }
/* line 149, ../sass/style.scss */
.opp-probability > div { position: absolute; overflow: hidden; right: 0; bottom: 0; color: #fff; padding: .2rem; border-radius: .3rem; font-size: .75rem; font-weight: bold; }

/* line 163, ../sass/style.scss */
#opportunity-detail-page .top { background-image: url("../res/img/brillant.png"); }
/* line 167, ../sass/style.scss */
#opportunity-detail-page .head { position: relative; width: 100%; padding-top: 1rem; padding-bottom: 1.67rem; }
/* line 173, ../sass/style.scss */
#opportunity-detail-page .head h3 { margin: 0; font-size: .9rem; color: rgba(0, 0, 0, 0.33); padding-left: 1rem; }
/* line 180, ../sass/style.scss */
#opportunity-detail-page .head .figure { font-size: 3rem; font-weight: bold; opacity: .8; margin-bottom: 1rem; padding-left: 1rem; }
/* line 188, ../sass/style.scss */
#opportunity-detail-page .head #probability-bar { width: 90%; min-width: 30% !important; height: .3rem; position: absolute; bottom: 0; left: 0; }
/* line 196, ../sass/style.scss */
#opportunity-detail-page .head #probability-bar.high { background-color: #4ae46f; }
/* line 198, ../sass/style.scss */
#opportunity-detail-page .head #probability-bar.high > div { background-color: #4ae46f; }
/* line 202, ../sass/style.scss */
#opportunity-detail-page .head #probability-bar.medium { background-color: #ffa81f; }
/* line 204, ../sass/style.scss */
#opportunity-detail-page .head #probability-bar.medium > div { background-color: #ffa81f; }
/* line 208, ../sass/style.scss */
#opportunity-detail-page .head #probability-bar.low { background-color: #ff2752; }
/* line 210, ../sass/style.scss */
#opportunity-detail-page .head #probability-bar.low > div { background-color: #ff2752; }
/* line 215, ../sass/style.scss */
#opportunity-detail-page .head #probability-bar > div { position: absolute; overflow: hidden; right: 0; bottom: 0; color: #fff; padding: .2rem; border-radius: .3rem; font-size: .75rem; font-weight: bold; }
/* line 229, ../sass/style.scss */
#opportunity-detail-page .description { padding: 1rem; line-height: 1.5rem; }
/* line 234, ../sass/style.scss */
#opportunity-detail-page .info { padding: 1rem; background-color: rgba(0, 0, 0, 0.33); color: #fff; }
/* line 239, ../sass/style.scss */
#opportunity-detail-page .info h1 { text-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.33); margin: 0; }
/* line 244, ../sass/style.scss */
#opportunity-detail-page .info span { display: inline-block; padding-top: .5rem; }
/* line 248, ../sass/style.scss */
#opportunity-detail-page .info span::before { margin-right: .5rem; vertical-align: middle; }
/* line 254, ../sass/style.scss */
#opportunity-detail-page .info span:first-of-type { margin-right: 1rem; }

/* line 261, ../sass/style.scss */
#accounts-page li .Hot { border-left-color: #ff2752; }
/* line 265, ../sass/style.scss */
#accounts-page li .Warm { border-left-color: #ffa81f; }
/* line 269, ../sass/style.scss */
#accounts-page li .Cold { border-left-color: #4e93ff; }

/* line 275, ../sass/style.scss */
#account-detail-page .account-head { background-size: cover; position: relative; width: 100%; min-height: 15rem; background-color: #eee; }
/* line 282, ../sass/style.scss */
#account-detail-page .account-head .overlay { width: 100%; position: absolute; bottom: 0; padding: 1rem; background-color: rgba(0, 0, 0, 0.33); color: #fff; }
/* line 290, ../sass/style.scss */
#account-detail-page .account-head .overlay h1 { text-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.33); }
/* line 294, ../sass/style.scss */
#account-detail-page .account-head .overlay span { display: inline-block; padding-top: .5rem; }
/* line 298, ../sass/style.scss */
#account-detail-page .account-head .overlay span::before { margin-right: .5rem; vertical-align: middle; }
/* line 304, ../sass/style.scss */
#account-detail-page .account-head .overlay span:first-of-type { margin-right: 1rem; }
/* line 310, ../sass/style.scss */
#account-detail-page .contact-details { display: -webkit-box; }
/* line 313, ../sass/style.scss */
#account-detail-page .contact-details > div { -webkit-box-flex: 1; width: 50%; font-size: 1.2rem; line-height: 1.8rem; padding: 1rem; }
/* line 320, ../sass/style.scss */
#account-detail-page .contact-details > div span { font-size: 1rem; }
/* line 327, ../sass/style.scss */
#account-detail-page .links a { text-decoration: none; display: inline-block; margin-bottom: 1rem; padding: .5rem 1rem .4rem 1rem; margin-left: 1rem; background-color: #ccc; border-radius: 1.15rem; line-height: 1.33rem; color: white; font-weight: bold; font-size: 1.33rem; }
/* line 340, ../sass/style.scss */
#account-detail-page .links a::before { vertical-align: middle; padding-right: .5rem; }
/* line 346, ../sass/style.scss */
#account-detail-page h1 { font-size: 1.67rem; margin: 0; }
/* line 351, ../sass/style.scss */
#account-detail-page h2 { font-size: 1rem; font-weight: normal; color: #666; }
/* line 357, ../sass/style.scss */
#account-detail-page .heat { display: inline-block; font-size: 1rem; font-weight: bold; line-height: 1rem; padding: .3rem .8rem; border-radius: .8rem; color: #fff; }
/* line 366, ../sass/style.scss */
#account-detail-page .heat.Hot { background-color: #ff2752; }
/* line 370, ../sass/style.scss */
#account-detail-page .heat.Warm { background-color: #ffa81f; }
/* line 374, ../sass/style.scss */
#account-detail-page .heat.Cold { background-color: #4e93ff; }

/* line 380, ../sass/style.scss */
input { text-overflow: ellipsis; overflow: hidden; white-space: nowrap; }

/* line 386, ../sass/style.scss */
input, input:focus, input:active { border: none; -webkit-user-select: text; user-select: text; }

/* line 393, ../sass/style.scss */
.ss-icon, [class^="ss-"]::before, [class*=" ss-"]::before { font-size: 1.2rem; }

/* line 397, ../sass/style.scss */
.clear-input { display: none; }

/* line 403, ../sass/style.scss */
html, body, #app-viewport { width: 100%; height: 100%; margin: 0; padding: 0; overflow: hidden; font-family: Helvetica, Arial, sans-serif; color: #222; position: absolute; left: 0; top: 0; }

/* line 421, ../sass/style.scss */
#main-viewport { width: 100%; position: absolute; top: 0; bottom: 0; }
/* line 428, ../sass/style.scss */
#main-viewport.with-titlebar { top: 3.2rem; }

/* line 433, ../sass/style.scss */
.page { width: 100%; height: 100%; overflow: hidden; background-color: #fff; }

/* line 440, ../sass/style.scss */
#login-page { background-color: transparent; }

/* line 444, ../sass/style.scss */
.form { display: -webkit-box; -webkit-box-orient: vertical; -webkit-box-align: stretch; margin: 0 auto; border: 1px solid #BEBEBE; border-radius: .25rem; background-color: white; box-shadow: 0 3px 0 -1px white, 0 2px 0 1px #cccccc, 0 6px 0 -1px white, 0 6px 0 0 #aaaaaa, 0 0.5rem 0.5rem 0 rgba(0, 0, 0, 0.2); width: 100%; margin: 0; }
/* line 456, ../sass/style.scss */
.form li { display: -webkit-box; padding: 0; }
/* line 461, ../sass/style.scss */
.form li:first-child { border-bottom: 1px dashed #EEE; }
/* line 466, ../sass/style.scss */
.form .ss-icon { color: #ccc; padding: .5rem .5rem .5rem 1rem; line-height: 1.2rem; }
/* line 472, ../sass/style.scss */
.form .clear-input { padding: .5rem 1rem .5rem .5rem; }
/* line 476, ../sass/style.scss */
.form input { display: block; margin: 0; border: none; font-size: 1rem; line-height: 1.2rem; padding: .5rem 1rem .5rem .5rem; -webkit-box-flex: 1; }

/* line 490, ../sass/style.scss */
#login-page .form { width: 100%; padding: 0; }
/* line 495, ../sass/style.scss */
#login-page input { background-color: transparent; }
/* line 499, ../sass/style.scss */
#login-page button { margin-top: 1.5em; padding: .5em 0 .4em 0; font-size: 1.1rem; font-weight: bold; text-shadow: 0 -0.1em rgba(0, 0, 0, 0.33); color: white; background-image: -webkit-linear-gradient(bottom, #ff2752 7%, #ff6483 100%); background-color: #FD3D54; border: 1px solid #CC2236; border-radius: .3em; box-shadow: 0 0.3rem 0 0 #d51e1e, 0 0.4rem 0.3rem 0 rgba(0, 0, 0, 0.27); width: 100%; display: block; }
/* line 514, ../sass/style.scss */
#login-page button:active { box-shadow: none; -webkit-transform: translateY(0.3rem); }
/* line 519, ../sass/style.scss */
#login-page button::before { margin-right: .5rem; vertical-align: middle; }

/* line 526, ../sass/style.scss */
#login-content { height: 100%; opacity: 0; -webkit-transform: translateY(15em); -webkit-transition: all 0.4s ease; display: -webkit-box; -webkit-box-align: center; -webkit-box-orient: vertical; -webkit-box-pack: center; padding: 1em; }

/* line 539, ../sass/style.scss */
#login-message { position: absolute; bottom: 0; left: 0; width: 100%; padding: 1rem; font: 0.9rem/0.9rem sans-serif; background-color: rgba(0, 0, 0, 0.33); color: #fff; border-top: 0.1rem solid rgba(0, 0, 0, 0.2); text-align: center; }
/* line 551, ../sass/style.scss */
#login-message p { padding: 0; margin: 0; }

/* line 557, ../sass/style.scss */
#fill-login { font-weight: bold; }

/* line 563, ../sass/style.scss */
#app-menu { position: absolute; left: 0; top: 0; width: 100%; height: 100%; background-color: #444; }

/* line 572, ../sass/style.scss */
#app-menu-list { list-style-type: none; margin: 0; padding: 0; }
/* line 577, ../sass/style.scss */
#app-menu-list li { height: 3.2rem; line-height: 3.2rem; border-top: 0.1rem solid rgba(255, 255, 255, 0.1); border-bottom: 0.1rem solid rgba(0, 0, 0, 0.25); font-size: 1.33rem; text-shadow: 0 -0.1rem 0 rgba(0, 0, 0, 0.5); }
/* line 585, ../sass/style.scss */
#app-menu-list li a { display: block; text-decoration: none; color: rgba(255, 255, 255, 0.66); height: 3.2rem; line-height: 3.2rem; }
/* line 592, ../sass/style.scss */
#app-menu-list li a::before { font-size: 1.5rem; line-height: 3.2rem; vertical-align: middle; padding: 0 1rem; }
/* line 600, ../sass/style.scss */
#app-menu-list li .selected { color: #fff; background-color: rgba(0, 0, 0, 0.25); }

@-webkit-keyframes spinner { /* line 610, ../sass/style.scss */
  0% { -webkit-transform: rotateZ(0); }
  /* line 613, ../sass/style.scss */
  100% { -webkit-transform: rotateZ(359deg); } }

/* line 618, ../sass/style.scss */
#titlebar { position: absolute; width: 100%; height: 3.2rem; padding-bottom: .2rem; overflow: hidden; z-index: 200; background-image: -webkit-linear-gradient(bottom, #ff2752 7%, #ff6483 100%); color: #fff; border-top: 0.1rem solid rgba(255, 255, 255, 0.4); border-bottom: 0.1rem solid #c00026; box-shadow: 0 0 0.5rem 0 rgba(0, 0, 0, 0.5), inset 0 -0.2rem 0 0 rgba(0, 0, 0, 0.07); -webkit-transition: all .2s ease; text-shadow: 0 -0.1rem 0 rgba(0, 0, 0, 0.5); }
/* line 634, ../sass/style.scss */
#titlebar.hidden { -webkit-transform: translateY(-3.2rem); box-shadow: none; }
/* line 639, ../sass/style.scss */
#titlebar button { border: none; background-color: transparent; color: #fff; font-size: 1.5rem; line-height: 3rem; border-right: 0.1rem solid rgba(0, 0, 0, 0.25); box-shadow: 0.1rem 0 0 0 rgba(255, 255, 255, 0.15); padding: .15rem 0 0 0; margin: 0; width: 3rem; position: absolute; text-shadow: 0 -0.1rem 0 rgba(0, 0, 0, 0.5); }
/* line 656, ../sass/style.scss */
#titlebar button.touched, #titlebar button:active { background-color: rgba(0, 0, 0, 0.1); box-shadow: inset 0 0 1rem rgba(0, 0, 0, 0.25); }
/* line 662, ../sass/style.scss */
#titlebar #context-button { border-left: 0.1rem solid rgba(255, 255, 255, 0.15); box-shadow: -0.1rem 0 0 0 rgba(0, 0, 0, 0.25); top: 0; right: 0; padding: 0; -webkit-transition: -webkit-transform .2s linear; -webkit-transform: translateX(3.1rem); }
/* line 671, ../sass/style.scss */
#titlebar #context-button.active { -webkit-transform: translateX(0); }
/* line 674, ../sass/style.scss */
#titlebar #context-button.active span { -webkit-animation: spinner 1s infinite linear; }
/* line 679, ../sass/style.scss */
#titlebar #context-button:active { background-color: transparent; box-shadow: -0.1rem 0 0 0 rgba(0, 0, 0, 0.25); }
/* line 684, ../sass/style.scss */
#titlebar #context-button span { display: block; line-height: 3.5rem; height: 3rem; }
/* line 691, ../sass/style.scss */
#titlebar h1 { margin: 0 0 0 -4rem; padding: 0 0 0 4rem; text-align: center; font-size: 1.5rem; line-height: 3rem; }

/* line 703, ../sass/style.scss */
#viewport-wrapper { overflow: hidden; position: absolute; left: 0; top: 0; width: 100%; height: 100%; background-color: #e5e5e5; background-image: url(../res/img/mapbg.png); background-size: cover; background-position: 50% 0; box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.67); -webkit-transition: -webkit-transform .33s ease; }

/* line 723, ../sass/style.scss */
#accounts-page, #cases-page { background-color: #fff; }

/* line 728, ../sass/style.scss */
#accounts-list, #cases-list { margin: 0; padding: 0; list-style-type: none; }
/* line 733, ../sass/style.scss */
#accounts-list li, #cases-list li { padding: 0; font-size: 1rem; line-height: 1rem; border-top: 1px solid #eee; }
/* line 739, ../sass/style.scss */
#accounts-list li:last-child, #cases-list li:last-child { border-bottom: 1px solid #eee; }

/* line 745, ../sass/style.scss */
#accounts-list li > span { padding: 1rem 1rem 1rem .5rem; display: block; border-left: .5rem solid transparent; }
/* line 750, ../sass/style.scss */
#accounts-list li > span.Hot { border-left-color: #ff2752; }
/* line 754, ../sass/style.scss */
#accounts-list li > span.Warm { border-left-color: #ffa81f; }
/* line 758, ../sass/style.scss */
#accounts-list li > span.Cold { border-left-color: #4e93ff; }

/* line 763, ../sass/style.scss */
.account-no { color: #666; display: block; margin-top: .5rem; font-size: .8rem; }

/* line 772, ../sass/style.scss */
#cases-page .High { border-left-color: #ff2752; }
/* line 775, ../sass/style.scss */
#cases-page .Medium { border-left-color: #ffa81f; }
/* line 778, ../sass/style.scss */
#cases-page .Low { border-left-color: #4e93ff; }
/* line 782, ../sass/style.scss */
#cases-page .true { text-decoration: line-through; opacity: .67; }

/* line 792, ../sass/style.scss */
#single-account-page table { padding: 1rem; border-top: .1rem dashed #ccc; margin-top: 2rem; background-color: #eee; color: #666; width: 100%; }
/* line 801, ../sass/style.scss */
#single-account-page tr td:first-of-type { font-weight: bold; }
/* line 805, ../sass/style.scss */
#single-account-page .account-head { background-size: cover; position: relative; width: 100%; min-height: 15rem; background-color: #eee; }
/* line 812, ../sass/style.scss */
#single-account-page .account-head .overlay { width: 100%; position: absolute; bottom: 0; padding: 1rem; background-color: rgba(0, 0, 0, 0.33); color: #fff; }
/* line 820, ../sass/style.scss */
#single-account-page .account-head .overlay h1 { text-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.33); }
/* line 824, ../sass/style.scss */
#single-account-page .account-head .overlay span { display: inline-block; padding-top: .5rem; }
/* line 828, ../sass/style.scss */
#single-account-page .account-head .overlay span::before { margin-right: .5rem; vertical-align: middle; }
/* line 834, ../sass/style.scss */
#single-account-page .account-head .overlay span:first-of-type { margin-right: 1rem; }
/* line 840, ../sass/style.scss */
#single-account-page .contact-details { display: -webkit-box; }
/* line 843, ../sass/style.scss */
#single-account-page .contact-details > div { -webkit-box-flex: 1; width: 50%; font-size: 1.2rem; line-height: 1.8rem; padding: 1rem; }
/* line 850, ../sass/style.scss */
#single-account-page .contact-details > div span { font-size: 1rem; }
/* line 857, ../sass/style.scss */
#single-account-page .links a { text-decoration: none; display: inline-block; margin-bottom: 1rem; padding: .5rem 1rem .4rem 1rem; margin-left: 1rem; background-color: #ccc; border-radius: 1.15rem; line-height: 1.33rem; color: white; font-weight: bold; font-size: 1.33rem; }
/* line 870, ../sass/style.scss */
#single-account-page .links a::before { vertical-align: middle; padding-right: .5rem; }
/* line 876, ../sass/style.scss */
#single-account-page h1 { font-size: 1.67rem; margin: 0; }
/* line 881, ../sass/style.scss */
#single-account-page h2 { font-size: 1rem; font-weight: normal; color: #666; }
/* line 887, ../sass/style.scss */
#single-account-page .heat { display: inline-block; font-size: 1rem; font-weight: bold; line-height: 1rem; padding: .3rem .8rem; border-radius: .8rem; color: #fff; }
/* line 896, ../sass/style.scss */
#single-account-page .heat.Hot { background-color: #ff2752; }
/* line 900, ../sass/style.scss */
#single-account-page .heat.Warm { background-color: #ffa81f; }
/* line 904, ../sass/style.scss */
#single-account-page .heat.Cold { background-color: #4e93ff; }
