<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title></title>

  <meta name="viewport"
        content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta name="format-detection" content="telephone=no" />

  <!-- SymbolSet webfont icons stylesheets. -->
  <link rel="stylesheet" href="css/ss-standard.css">

  <!-- Custom CSS -->
  <link rel="stylesheet" href="css/style.css">
</head>
<body>


  <!-- Library dependencies -->
  <script src="js/lib/zepto.js"></script>
  <script src="js/lib/lodash.js"></script>
  <script src="js/lib/backbone.js"></script>
  <script src="js/lib/iscroll.js"></script>

  <!-- Custom JS -->
  <script src="js/app.js"></script>

  <!-- Templates -->
  <script type="text/html" id="login-page-template">

      <!-- Wrapper to animate in all elements. -->
      <div id="login-content">

        <img src="res/img/sf_logo.png" style="
    width: 70%;
    display: block;
    margin-bottom: 2rem;
    position: absolute;
    left: 50%;
    margin-left: -35%;
">

        <ul class="form">
          <li>
            <!-- Using div instead of label to prevent Android showing it on
                 text-input focus. -->
            <div class="ss-icon">mail</div>
            <input id="email-input" type="email" placeholder="Email" />
            <div class="ss-icon clear-input clear-email">delete</div>
          </li>
          <li>
            <div class="ss-icon">lock</div>
            <input id="password-input" type="password" placeholder="Password" />
            <div class="ss-icon clear-input clear-password">delete</div>
          </li>
        </ul>
        <button id="login-button" class="ss-action">Login</button>

        <aside id="login-message">
          <p>Don't have an account? <span id="fill-login">Use ours</span>.</p>
        </aside>

      </div>

  </script>

  <script type="text/html" id="viewport-tpl">


  </script>

  <script type="text/template" id="account-list-item-tpl">
      <span class="<%= Rating %>"><%- Name %><br/><span class="account-no"><%= AccountNumber %></span></span>
  </script>

  <script type="text/template" id="account-tpl">
    <div>
      <section class="account-head">
        <div class="overlay">
          <h1><%- Name %></h1>
          <span class="ss-tag"><%= AccountNumber %></span>
          <% if (Industry) { %>
            <span class="ss-briefcase"><%- Industry %></span>
          <% }%>
        </div>
      </section>
      <section class="contact-details">
        <div>
          <% if (BillingStreet) print(BillingStreet + ',<br/>') %>
          <% if (BillingCity) print(BillingCity + ',<br/>') %>
          <% if (BillingState) print(BillingState + ',<br/>') %>
          <% if (BillingCountry) print(BillingCountry) %>
        </div>
      </section>
      <section class="links">
        <div>
          <% if (Phone) print('<a href="tel:' + Phone + '" class="ss-phone">' + Phone + '</a>') %>

          <br/>
          <% if (Website) print('<a href="' + Website + '" target="_blank" rel="external" class="ss-globe">' + Website + '</a>') %>
        </div>
      </section>
      <section class="raw">

      </section>
      </div>
  </script>

  <script type="text/template" id="opportunity-tpl">
    <div>
      <section class="top">
        <section class="head">
          <h3>Amount</h3>
          <div class="figure">&euro;<%= Amount %></div>

          <h3>Expected Revenue</h3>
          <div class="figure">&euro;<%= ExpectedRevenue %></div>

          <div id="probability-bar">
            <div id="probability-figure"></div>
          </div>
        </section>
        <section class="info">
          <h1><%- Name %></h1>
          <span class="ss-user"><%- AccountId %></span>
        </section>
      </section>
      <% if (Description) { %>
        <section class="description">
          <p><%- Description %></p>
        </section>
      <% } %>
      <section class="raw">

      </section>
    </div>
  </script>

  <script type="text/template" id="cases-tpl">
    <div>

      <section class="raw">

      </section>
    </div>
  </script>

  <script type="text/template" id="campaign-tpl">
    <div>

      <section class="raw">

      </section>
    </div>
  </script>

<script type="text/template" id="campaign-tpl">
  <div>
    <section></section>
  </div>
</script>
</body>
</html>